.fromInp {
  position: absolute;
  margin: auto;
  width: 100%;
  max-width: 100%;
}
.fromInp .label {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 16px;
  color: #223254;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.fromInp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ef5350;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.fromInp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 0 4px 0;
  height: 48px;
  font-size: 16px;
  text-overflow: ellipsis;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
  max-width: 100%;
}
.fromInp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.fromInp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.fromInp input:focus {
  background: none;
  outline: none;
}
.fromInp input:focus + span {
  color: #ef5350;
  transform: translateY(-26px) scale(0.75);
}
.fromInp input:focus + span + .border {
  transform: scaleX(1);
}
